@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-dark: rgb(16, 14, 36);
  --text-color-dark: rgb(238, 238, 238);
  --background-color-light: #f2f2f2;
  --text-color-light: rgb(17, 19, 25);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
}
